<p id="notice"><%= notice %></p>

<p>
  <strong>Support type name:</strong>
  <%= @support_type.support_type_name %>
</p>

<%= link_to 'Edit', edit_support_type_path(@support_type) %> |
<%= link_to 'Back', support_types_path %>
